											/*	GENERAL STYLES */
root 
{
 display: block;
}
body
{
 font-family: "Segoe UI","Century Gothic", "Avant Garde", Calibri, Arial, Helvetica, sans-serif; 
 overflow: auto;
}
a
{ 
	color:#eabb16; 
	text-decoration: none; 
	padding: 30px;
}
a:hover
{
	color: #ffff00;
}
input[type="submit"]
{	
	-moz-box-shadow:inset 0px 0px 16px 2px #ffffff; 
	-webkit-box-shadow:inset 0px 0px 16px 2px #ffffff; 
	box-shadow:inset 0px 0px 16px 2px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% ); 
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf'); 
	background-color:#ededed; moz-border-radius:8px; 
	-webkit-border-radius:8px;
	border-radius:8px; 
	border:3px solid #dcdcdc; 
	display:inline-block; 
	color:#777777; 
	font-family:arial; 
	font-size:13px; 
	font-weight:bold; 
	padding:1px 16px; 
	text-decoration:none; 
	text-shadow:0px 1px 21px #ffffff;
	background-color: #CDB79E;
}
input[type="submit"]:hover 
{ 
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );	
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed'); 
	background-color:#dfdfdf; 
	cursor: pointer;
}
input[type="submit"]:active 
{	
	position:relative; 
	top:1px;
}
input[type="text"], input[type="password"]
{ 
	
	 
	border:2px solid; 
	border-radius:10px; 
	padding: 1px;	
	width: 200px;
}
#status{
    display: none;
    color: #eabb16;
    font-size: 12pt;
    padding: 10px 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
	background-color: black;
    border-radius: 8px;
    z-index: 999;
}
.bodytext{
	color: #eabb16;
}
.bodytext1{
	color: #eabb16;
	text-align:center;
	margin-top:30px;
}

											/* BACKGROUND SLIDESHOW*/
.slideshow { 
	height: 100%; 
	width: 100%;
	margin:0px;
	z-index:0;
	resize:none;	
}
.slideshow img {  
	height:100%;
	width:100%;	
	left:-1px;
	right:-1px;
	z-index:0;
	margin:0px;
	resize:none;
}

													/* HEADERS*/

#topheader
{ 
	position: fixed; 	
	height: 3%; 
	width: 100%;
	top: 0px; 
	left: 0px; 
	right: 0px; 
	padding-top: .5%; 
	padding-bottom: .5%;
	background-color: #000000; 
	text-align: right; 
	z-index:100;
}

#midheader
{ 
	position: fixed; 
	height: 2%; 
	width: 100%; 
	top: 45%;
	left:0px;
	right:0px;
	padding-top: 1%; 
	padding-bottom: 1%; 
	padding-left: .5%; 
	text-align: center; 
	background-color:#000000;
	opacity: 0.7; 
	z-index:100;
}

.logname
{
	color: #eabb16;
}

													/* ABOUT THE HOTEL */
#aboutatalia
{ 
	position: fixed;
	height: 250px;
	width: 100%;
	top: 51%; 
	right: 0px;
	left: 0px;
	color:white;
	background-color:#000000;
	display:none;
	z-index:100;
}

#ataliaphoto
{ 
	height: 85%; 
	width: 25%; 
	margin-left: 19%; 
	margin-top: 1%; 
	float: left;
	z-index:100;
}

#abouttext
{ 
	margin-left:45%; 
	margin-right:20%; 
	margin-top: 3%; 
	text-align: justify;
	z-index:100;
}
#aboutthehotel
{
	position: fixed; 
	height: 300px;
	width: 375px;
	top: 40%;
	left:70%;
	padding: 15px;
	border-radius: 8px;
	text-align:justify;
	color: #eabb16;
	background-color: #000000;
	right: 5px;
	opacity: 0.9; 
	z-index:100;
	display:none;
}
#exlink
{
	margin-left: 73%
}
#exlink:hover
{
	cursor:pointer;
}
														/* SIGN IN */
#signinform
{ 
	position: fixed;
	height: 21%;
    width: 20%;
	top: 30%;
    left: 0px;
    right: 0px;
	padding: 20px;
	background-color: #262626;
	border-radius: 8px;
	text-align: center;
	margin: auto;
	display: none;
	color:white;
	z-index: 150;
	 
}
#closesign
{
    position: fixed;
    margin-left: 19.75%;
    margin-top: -10px;
    z-index: 150;
}
#closesign:hover
{
    cursor: pointer;
}
														/* REGISTER */
#regform
{ 
	position: fixed;
	height: 250px;
    width: 500px;
	top: 30%;
    left: 0px;
    right: 0px;
	padding: 20px;
	background-color: #262626;
	border-radius: 8px;
	display: none;
	margin: auto;
	z-index: 150;
}
#regtable
{  
	margin-left: 5%;
	margin-top: 2%; 
	padding:5px;
	color:red;
}
#close
{
    position: fixed;
    margin-left: 32.5%;
    margin-top: -5px;
    z-index: 150;
}
#close:hover
{
    cursor: pointer;
}
#results
{
	margin-top:0px;
}
														/* ROOM RESERVATION */
#reserveroom
{ 
	position: fixed; 
	height: 150px;
	width: 100%;
	top: 51%; 	
	left: 0px;
	right:0px;
	color:white;
	background-color:#000000;
	display:none;
	z-index:100;
}
#reservetable{ 
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top: 30px;
	color: white;
}
#resresult{ 
	margin-left: 33%;
	color: red;
}
															/* AVAIL SERVICES */
#listofservices
{ 
	position: fixed;   
	height: 200px;
	width: 100%;
	top: 51%; 	
	left: 0px;
	right:0px;
	color:white;
	background-color:#000000;
	display:  none;
	z-index:100;
}
#servtable
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
}

#service
{
	color:#eabb16;
	padding:none;
}
#service:hover
{
	color: #ffff00;
}
														/* RECENT ACTIVITIES */
#listofactivities
 {
	position: fixed; 
	height: 150px; 
	width: 100%; 
	top: 51%; 
	left:0px;
	right:0px;
	color:white;
	background-color:#000000; 
	display:  none; 
	overflow:auto;
	z-index:100;
}
#recent
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
	width:30%;
}
#chtext
{
	text-align:center;
	margin-top:20px;
}
																/* VIEW BILLS*/
#billingrecords
{
	position: fixed; 
	width: 100%; 
	height: 175px;
	top: 51%;
	left:0px;
	right:0px;
	background-color:#000000; 
	color:white;
	display:none;
	overflow:auto;
	z-index:100;
}
#billtable
{
	background-color:none;
	border: 1px solid #808080;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
}

															/* HOTEL STATISTICS */
#hotelstatForm
{
	position: fixed;   
	width: 100%; 
	height: 250px; 
	left: 0px;
	right:0px;
	top: 51%; 
	background-color:#000000; 
	display:none;
	z-index:100;
} 
#chart
{ 
	background-color:none;
	color:#eabb16;	
	border-radius:10px;	
	border: 1px solid #808080;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top: 2%;
}
#but
{
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.cell
{
	background-color:none;
	border: 1px solid #808080;
	color:#ffffff; 
	text-align:center;
}
													/* ROOM STATUS */
#rmstatForm
{ 
	position: fixed;
	width: 100%; 
	height: 275px;
	top: 51%; 
	left: 0px;
	right:0px;
	color:white;
	background-color:#000000;
	display: none;
	overflow: auto;
	z-index:100;
}
#roomquery
{	
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:40%;
}
#checkroomstat
{
	margin-top: 15px;
	margin-left:37%;
}
													/* ADD/DELETE SERVICE */
#serviceForm 
{ 
	position: fixed; 
	width: 100%; 
	height: 280px;
	top: 51%; 
	left: 0px;
	right:0px;
	color:white;
	background-color:#000000; 
	overflow:auto;
	display:none;
	z-index:100;
}
#servicequery
{	
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top: 20px;
	width:40%;
	z-index:100;
}
#servbutton
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top: 20px;
}
														/* BILL CUSTOMER */
#adminbillingform
{ 
	position: fixed; 
	width: 100%; 
	height: 200px; 
	left:0px;
	right:0px;
	top: 51%; 
	background-color:#000000; 
	display:none;
	z-index:100;
}
#adminbilling
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top: 30px;
	color:white;
}
#div_bill{
	margin-left:930px;
	margin-top:-100px;

}
														/* CHECK-IN */
#checkinForm
{
	position: fixed; 
	height: 300px; 
	width: 100%;
	left: 0px;
	right:0px;
	top: 51%; 	
	color:white;
	background-color:#000000; 
	display:none;
	overflow: auto;
	z-index:100;
}
#startform
{
	margin-top: 30px;	
	display:block;
	margin-left:35%
}
#room{
	width: 13%;
	border-radius:8px;
}
#walkin_res1{
	color:red;
	margin-left: 400px;
	margin-top: -213px;
	
}
														/* CHECK OUT*/
#checkoutForm
{ 
	position: fixed; 
	width: 100%; 
	height: 220px;
	left:0px;
	right:0px;
	background-color:#000000; 
	top: 51%; 
	color:white;
	display:  none;
	overflow:auto;
	z-index:100;
}
.icell
{
	padding:3px;
	width:40%;
	text-align:center;
	background-color:none;
	border: 1px solid #808080;
	color:#ffffff; 
}
.rcell{
	padding:3px;
	text-align:center;
	background-color:none;
	border: 1px solid #808080;
	color:#eabb16; 
}
													/* OVERLAYS */
#darkoverlay
{
    display: none;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-image: url(../images/overlaydarkbg.png);
    z-index:5;
}
